body {
  font-family: "Courier New", Courier, monospace;
  background-color: #000000;
  color: #00eece;
  margin: 0;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}

/* container */
.container {
  background-color: #0a0a0a;
  padding: 25px;
  margin: 30px auto;
  width: 70%;
  border-radius: 10px;
  box-shadow: 0 0 20px #00eece;
}

/* otsikko */
h1 {
  font-size: 30px;
  color: #00eece;
  text-shadow: 0 0 10px #00eece;
}

h2 {
  color: #00eece;
  margin-top: 40px;
  font-size: 16px;
}

/* teksti */
p {
  max-width: 780px;
  margin: 10px auto;
  color: #00eece;
  line-height: 1.6;
  font-size: 13px;
}

/* kuva */
img {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin: 20px 0;
  border: 2px solid #00eece;
  box-shadow: 0 0 15px #00eece;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 0;
  margin-top: 20px;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  background-color: #001f1b;
  color: #00eece;
  text-decoration: none;
  padding: 12px 20px;
  border: 1px solid #00eece;
  border-radius: 8px;
  box-shadow: 0 0 10px #00eece;
  transition: 0.2s;
}

nav a:hover {
  background-color: #00eece;
  color: #000;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  justify-items: center;
}

.skills-list li {
  padding: 8px 15px;
  border: 2px solid #00eece;
  border-radius: 10px;
  box-shadow: 0 0 10px #00eece;
  font-size: 14px;
  transition: 0.3s;
}

.skills-list li:hover {
  background-color: #001f1b;
  box-shadow: 0 0 20px #00eece;
}

.education-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  max-width: 700px;
  margin: 20px auto;
}

.edu-item {
  padding: 15px;
  border: 2px solid #00eece;
  border-radius: 10px;
  box-shadow: 0 0 10px #00eece;
}

.work-list {
  display: grid;
  grid-template-columns: 1fr; /* yksi allekkain */
  gap: 20px;
}

.work-item {
  padding: 15px;
  border: 2px solid #00eece;
  border-radius: 10px;
  box-shadow: 0 0 10px #00eece;
}

.work-item h3 {
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .work-list {
    grid-template-columns: 1fr;
  }
}

.mermaid {
  background-color: #0a0a0a;
  color: #00eece;
  padding: 20px;
  margin: 25px auto;
  margin-bottom: 40px;
  border: 2px solid #00eece;
  border-radius: 10px;
  box-shadow: 0 0 10px #00eece;
  max-width: 900px;
}

nav {
  margin-top: 50px;
}

.github-box {
  margin: 10px auto;
  padding: 12px;
  max-width: 260px;
  min-height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: 1px solid #00eece;
  border-radius: 6px;
  box-shadow: 0 0 6px #00eece;

  opacity: 0.7;
  font-size: 13px;
}

.github-box h2 {
  font-size: 13px;
  margin: 0 0 5px 0;
  opacity: 0.8;
}

.github-box p {
  margin: 4px 0;
}

.github-box a {
  color: #00eece;
  text-decoration: none;
}

.github-box a:hover {
  text-decoration: underline;
}